name: lint-check
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v1.61.0 # or latest stable
      - name: Run lint checks
        run: ./hack/lint-check.sh
